%div.jumbotron
  %h2
    Catch yourself thinking... but I'm sure I was already following..?
  %p.lead
    %b Then this is for you!
    %br
    %br
    Use this app to take snapshots of which accounts you've un-friended and see what's changed at a glance.
  - unless session[:user_name]
    %a{:class => "btn btn-large btn-success", :href => "twitter_login"} Sign in with Twitter